@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Open Sans, Arial, sans-serif;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3em 8em 1em 8em;
}

.ion-button {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  width: 144px;
  height: 39px;
  list-style: none;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #4ac1ff;
}

.ion-button:hover {
  cursor: pointer;
}

.gear-icon {
  line-height: 106px;
  padding: 36px 35px 35px 36px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #4ac1ff;
}

.logo,
.navigation {
  font-family: Open Sans;
  font-size: 18px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  text-align: center;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

.logo .nav-link,
.navigation .nav-link {
  margin: 1em;
  text-decoration: none;
  color: #666f77;
}

.logo .nav-link:visited,
.navigation .nav-link:visited {
  text-decoration: none;
}

#hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 414px;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  -o-object-fit: contain;
     object-fit: contain;
}

#hero-section .wrapper {
  text-align: center;
  color: #fff;
}

#hero-section .wrapper h1 {
  font-size: 45px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
}

#hero-section .wrapper span {
  font: 19px;
  letter-spacing: 0.48px;
}

#hero-section .wrapper button {
  line-height: 1.65;
  width: 203px;
  height: 39px;
  margin: 2em 0;
  letter-spacing: 0.43px;
}

#h1-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 156px;
  -o-object-fit: contain;
     object-fit: contain;
}

#h1-section .wrapper {
  margin-top: 2rem;
  text-align: center;
  color: #666f77;
}

#h1-section .wrapper h1 {
  font-size: 32px;
  font-weight: normal;
  line-height: 0.88;
  margin: 0;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

#h1-section .wrapper span {
  font-size: 19px;
  line-height: 1.63;
  color: #bbb;
}

#cards .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cards .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cards .container .row .card {
  line-height: 1.94;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  margin: 2em;
  padding: 1em;
  text-align: center;
  letter-spacing: 0.16px;
  color: #666f77;
  border: 1px solid #bbb;
  border-radius: 5px;
}

#cards .container .row .card .gear-icon {
  margin-top: 1em;
}

#cards .container .row .card h4 {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.72;
  padding-top: 1em;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

#cards .container .row .card p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.94;
  padding: 1em;
  letter-spacing: 0.16px;
}

@media all and (max-width: 1200px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo {
    margin: 0;
  }
  .navigation {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .card {
    width: 90%;
  }
}

@media all and (max-width: 600px) {
  .logo {
    -ms-flex-item-align: left;
        -ms-grid-row-align: left;
        align-self: left;
    margin: 0.25em 0;
  }
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar {
    padding: 20px;
    text-align: center;
  }
  .nav-item {
    margin-top: 0.25em;
  }
}
/*# sourceMappingURL=styles.css.map */