@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

$bright-cyan: #4ac1ff;
$very-light-gray: #bbb;
$slate-gray: #666f77;

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: Open Sans, Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 3em 8em 1em 8em;
}

.nav-link {
  margin: 1em;

  text-decoration: none;

  color: $slate-gray;
  &:visited {
    text-decoration: none;
  }
}

.menu-icon {
  color: $bright-cyan;
  display: none;
  &:hover {
    cursor: pointer;
  }
}

.drawer {
  display: none;
}

.drawer__header {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.drawer__close {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='15px' height='16px' viewBox='0 0 15 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='2.-Menu' transform='translate(-15.000000, -13.000000)' stroke='%23000000'%3E%3Cg id='Group' transform='translate(15.000000, 13.521000)'%3E%3Cpath d='M0,0.479000129 L15,14.2971819' id='Path-3'%3E%3C/path%3E%3Cpath d='M0,14.7761821 L15,-1.24344979e-14' id='Path-3'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  width: 15px;
  height: 15px;
}

.drawer__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  max-width: 500px;
  z-index: 9999;
  overflow: auto;
  transition: transform 0.3s;
  will-change: transform;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  -webkit-transform: translateX(103%);
  transform: translateX(103%); /* extra 3% because of box-shadow */
  -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
  box-shadow: 0 2px 6px #777;
}

.drawer__content {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  flex-grow: 1;
  padding: 1.5rem;
}

.drawer.is-active {
  display: block;
}

.drawer.is-visible .drawer__wrapper {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.drawer.is-visible .drawer__overlay {
  opacity: 0.5;
}

.drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  opacity: 0;
  transition: opacity 0.3s;
  will-change: opacity;
  background-color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ion-button {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;

  width: 144px;
  height: 39px;

  list-style: none;

  text-transform: uppercase;

  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: $bright-cyan;
  &:hover {
    cursor: pointer;
  }
}

.gear-icon {
  line-height: 106px;

  padding: 36px 35px 35px 36px;

  text-align: center;
  vertical-align: middle;

  border-radius: 50%;
  background: $bright-cyan;
}

.logo {
  img {
    width: 115px;
    height: 14px;
  }
}

.logo,
.navigation {
  font-family: Open Sans;
  font-size: 18px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;

  display: flex;
  align-items: center;

  list-style: none;

  text-align: center;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 414px;

  background-image: url('../img/hero.jpg');
  background-size: cover;

  object-fit: contain;
  .wrapper {
    text-align: center;

    color: #fff;
    h1 {
      font-size: 45px;
      font-weight: 600;

      margin: 0;

      text-transform: uppercase;
    }
    span {
      font: 19px;

      letter-spacing: 0.48px;
    }
    button {
      line-height: 1.65;

      width: 203px;
      height: 39px;
      margin: 2em 0;

      letter-spacing: 0.43px;
    }
  }
}

.h1-section {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 156px;

  object-fit: contain;
  .wrapper {
    margin-top: 2rem;

    text-align: center;

    color: $slate-gray;
    h1 {
      font-size: 32px;
      font-weight: normal;
      line-height: 0.88;

      margin: 0;

      letter-spacing: 2.4px;
      text-transform: uppercase;
    }
    span {
      font-size: 19px;
      line-height: 1.63;

      color: $very-light-gray;
    }
  }
}

.cards {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    .row {
      display: flex;
      align-items: center;
      justify-content: center;
      .card {
        line-height: 1.94;

        display: flex;
        align-content: space-between;
        align-items: center;
        flex-direction: column;

        width: 300px;
        margin: 2em;
        padding: 1em;

        text-align: center;
        letter-spacing: 0.16px;

        color: $slate-gray;
        border: 1px solid $very-light-gray;
        border-radius: 5px;
        .gear-icon {
          margin-top: 1em;

          width: 35px;
          height: 35px;
        }
        span {
          font-size: 18px;
          font-weight: normal;
          line-height: 1.72;

          padding-top: 1em;

          letter-spacing: 0.9px;
          text-transform: uppercase;
        }
        p {
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.94;

          padding: 1em;

          letter-spacing: 0.16px;
        }
      }
    }
  }
}

form {
  max-width: 420px;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h1 {
    color: $slate-gray;
    letter-spacing: 0.48px;
    margin: 1rem;
    font-size: 32px;
    font-weight: normal;
    line-height: 0.88;

    letter-spacing: 2.4px;

    text-transform: uppercase;
  }
}

.feedback-input {
  color: $slate-gray;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid $very-light-gray;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.94;

  padding: 1em;

  letter-spacing: 0.16px;
  &:focus {
    border: 1px solid $bright-cyan;
  }
  textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
    resize: none;
  }
}

[type='submit'] {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  width: 100%;
  background: $bright-cyan;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type='submit']:hover {
  background: #43aee6;
}

footer .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 3em 8em 1em 8em;
}
.copyright {
  color: $slate-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

@media all and (max-width: 1200px) {
  .navbar {
    flex-direction: column;

    padding: 1em;
  }

  //   .row {
  //     flex-direction: column;
  //   }

  .logo {
    margin: 0;
  }

  .navigation {
    justify-content: space-around;

    width: 100%;
  }

  .card {
    width: 90%;
  }
}

@media all and (max-width: 600px) {
  .navbar {
    flex-direction: row;
  }

  .menu-icon {
    display: inline;
  }

  .collapse {
    display: none;
  }

  .logo {
    align-self: left;
    margin: 0.25em 0;
  }

  .menu-icon {
    align-self: right;
  }

  .navigation {
    flex-direction: column;
  }

  .row {
    flex-direction: column;
  }

  .navbar {
    padding: 20px;

    text-align: center;
  }

  .nav-item {
    margin-top: 0.25em;
  }
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background-color: #222;
//     --font-color: #f6f6f6;
//     --font-lighter-color: #ccc;
//   }

//   :root.light {
//     --background-color: #f6f6f6;
//     --font-color: #222;
//     --font-lighter-color: #444;
//   }
// }
